<!doctype html>
<html lang="">
<head>

    <title>... Wiki</title>
    <!--========================================
    Meta
    ===========================================-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="xDocs">
    <link rel="icon" sizes="192x192" href="static/assets/img/basic/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="static/assets/img/basic/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/img/basic/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#55acee">
    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#55acee">

    <!--========================================
    CSS
    
    ===========================================-->
     <link href={{ url_for('static', filename ='assets/css/style.css')}} rel="stylesheet" type="text/css">
    <!--put your custom css on the file below-->
      <link href={{ url_for('static', filename ='assets/css/custom.css')}} rel="stylesheet" type="text/css">

    <style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        }
    </style>

</head>
<body>

    <div class="bodyWrap">
        <header class="doc-header">
            <div class="logoWrap">
        <a href="/"><img src="/static/assets/img/basic/logo.png" alt="/" class="mx-auto d-block"></a>
            </div>
            <a href="#" class="nav-trigger"><i class="fa fa-navicon"></i></a>
             <ul class="main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="content">Content</a></li>
                <li class="active"><a href="about">About</a></li>
                {%if isLogged == 0%} 
                    <li><a href="login">Log in / Sign up</a></li>
                {%else %}
                    <li><a href="logout">Logout</a></li>
                {%endif%}

            </ul>
            <span class="copyRights">&copy; 2016, All rights reserved</span>
        </header>
            <div class="contentAreaInner clearfix">                           
                <main class="contentArea">
                    <div class="contentAreaInner clearfix">
                        <div class="row">
                            <div class="col-xs-12 col-lg-6 pull-right">
                                <div class="text-widget">
                                    <div class="heading heading-lg">
                                        <h2>Acerca dos autores</h2>
                                        <p>Trabalho em âmbito da cadeira de ??? da Universidade de Aveiro<br>
                                            <span>Sou lindo</span></p>
                                    </div>
                                    <div class="text-content">
                                        <p>É para tirar 20 nesta merda sigaaaa</p>
                                        <p>#Road to 20</p>
                                        <br>
                                        <a href="#" class="btn btn-lg btn-default"><i class="fa fa-arrow-right"></i>Envie uma pergunta</a>
                                    </div>
        
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <div class = "row">
                                      <div class="col-xs-12 col-md-6">  
                                        <h3 style="text-align: center">Alexandre Gago</h3>
                                        <div class="inner">
                                            <p style="text-align: center">O gajo mais fixe deste projeto</p>
                                            <i><img src="static/assets/img/xanex.png"></i>
                                        </div>
                                    </div>
                                        <div class="col-xs-12 col-md-6">
                                           <h3 style="text-align: center">Bernardo kaluza</h3>
                                        <div class="inner">
                                            <p style="text-align: center">O Simp</p>
                                            <i><img src="static/assets/img/kaluza.jpeg"></i>
                                        </div> 
                                </div>
                                 <div class = "row">
                                      <div class="col-xs-12 col-md-6">  
                                        <h3 style="text-align: center">Pedro Lima</h3>
                                        <div class="inner">
                                            <p style="text-align: center">O Estressado</p>
                                            <i><img src="static/assets/img/Lima.jpeg"></i>
                                        </div>
                                    </div>
                                        <div class="col-xs-12 col-md-6">
                                        <h3 style="text-align: center">Diogo Santos</h3>
                                        <div class="inner">
                                            <p style="text-align: center">Casper</p>
                                            <i><img src="static/assets/img/Diogo.jpeg"></i>
                                        </div> 
                                </div>
                                </div>
                            </div>
                        </div>
                    </div><!--contenAreaInner-->
                </main>          
            </div><!--contenAreaInner-->
        </main>

    </div>

    <!--========================================
    Javascript
    ===========================================-->

    <script src={{ url_for('static', filename = 'assets/lib/jquery/dist/jquery.min.js')}}></script>
    <script src={{ url_for('static', filename = 'assets/js/app.js')}}></script>

</body>
</html>
